body{
	margin: 0px;
	padding: 0px;
	
	background: #f9f9f9;
}

#wrapper{

	margin-left: 10px;
    width: 1000px;
    height: 100%;
	background-image: url(../images/landing-bg.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: top;
	box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3);
	float:left;
}
#header{
}

#content{

}
#signinholder{
	float: right;
	width: 331px;
}
#username, #password, #confirmPassword,#email{ background: #fff url('../images/status.gif') 202px 0 no-repeat; padding: 0 20px 0 2px; width: 198px; }

#username.thinking, #password.thinking,#email.thinking { background-position: 202px -4px; }
#username.approved, #password.approved, #confirmPassword.approved,#email.approved { background-position: 202px -33px; }
#username.denied, #password.denied, #confirmPassword.denied,#email.denied { background-color: #FF8282; background-position: 202px -51px; }
